In [1]:
import pandas as pd
import numpy as np
#import matplotlib
import matplotlib.pyplot as plt

Bad key "text.kerning_factor" on line 4 in
/Users/eyobmanhardt/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [3]:
df = pd.read_csv('temp_preprocess_data.csv')

In [4]:
df.shape

(356251, 131)

In [5]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_DEBT_RATIO,CREDIT_DAY_OVERDUE,DPD_COUNTS,BIRTH_IN_YEARS,ALL_EXT_SOURCE_MEAN,PAYMENT_RATE,INCOME_PER_PERSON,INCOME_CREDIT_IN_PERCENTAGE,ANNUITY_INCOME_IN_PERCENTAGE
0,100002,1.0,Cash loans,0,1,0,0,202500.0,406597.5,24700.5,...,1.0,0.068272,0.0,3.375,25.920548,0.161787,0.060749,202500.0,0.498036,0.121978
1,100003,0.0,Cash loans,1,1,1,0,270000.0,1293502.5,35698.5,...,0.0,0.000000,0.0,NaN,45.931507,0.466757,0.027598,135000.0,0.208736,0.132217
2,100004,0.0,Revolving loans,0,0,0,0,67500.0,135000.0,6750.0,...,0.0,0.000000,0.0,NaN,52.180822,0.642739,0.050000,67500.0,0.500000,0.100000
3,100006,0.0,Cash loans,1,1,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,52.068493,0.650442,0.094941,67500.0,0.431748,0.219900
4,100007,0.0,Cash loans,0,1,0,0,121500.0,513000.0,21865.5,...,0.0,0.000000,0.0,NaN,54.608219,0.322738,0.042623,121500.0,0.236842,0.179963

In [12]:
train_df = df.loc[df['TARGET'].notnull(), :]
test_df = df.loc[df['TARGET'].isnull(), :]
test_df.drop(columns= ['TARGET'], axis=1, inplace=True)

/Users/eyobmanhardt/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
train_df_enc = pd.get_dummies(train_df)
test_df_enc = pd.get_dummies(test_df)

print('train shape:', train_df_enc.shape) 
print('test shape:', test_df_enc.shape)

train shape: (307507, 251)
test shape: (48744, 248)

In [15]:
train_df_enc_cols = set(train_df_enc.columns)
test_df_enc_cols = set(test_df_enc.columns)

print(train_df_enc_cols.difference(test_df_enc_cols))

{'NAME_INCOME_TYPE_Maternity leave', 'NAME_FAMILY_STATUS_Unknown', 'TARGET'}

In [16]:
y = train_df_enc['TARGET']
## align dataframes 
X, X_test = train_df_enc.align(test_df_enc, join='inner', axis=1)

In [17]:
X.shape, X_test.shape

((307507, 248), (48744, 248))

In [19]:
y.shape

(307507,)

# down-sampling
# up-sampling 
# SMOTE