In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
plt.rcParams["figure.figsize"] = (20,10)

In [2]:
df_credit_card_balance = pd.read_csv('credit_card_balance.csv')

In [3]:
df_credit_card_balance.info()
df_credit_card_balance.set_index('SK_ID_CURR')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

,SK_ID_PREV,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
378907,2562384,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.00,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
363914,2582071,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.00,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
371185,1740877,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.00,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
337855,1389973,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.00,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
126868,1891521,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.00,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328243,1036507,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
347207,1714892,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,1879.11,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
215757,1302323,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,375750.00,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
430337,1624872,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,NaN,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
236760,2411345,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,0.00,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [4]:
df_application_train = pd.read_csv('application_train.csv')
df_application_train['SK_ID_CURR'] = df_application_train['SK_ID_CURR'].astype(str)

df_application_train = df_application_train[['SK_ID_CURR','TARGET']]
df_application_train.set_index('SK_ID_CURR')

            TARGET
SK_ID_CURR
100002           1
100003           0
100004           0
100006           0
100007           0
...            ...
456251           0
456252           0
456253           0
456254           1
456255           0

[307511 rows x 1 columns]

In [5]:
df_credit_card_balance['SK_ID_CURR'] = df_credit_card_balance['SK_ID_CURR'].astype(str)

In [6]:
full = pd.merge(
    df_credit_card_balance,
    df_application_train, #here the differance
    on='SK_ID_CURR',
    how='left' #and add the how='left'
)

In [7]:
full.set_index('SK_ID_CURR')
full

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,TARGET
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.0,1,0.0,1.0,35.0,Active,0,0,NaN
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0,1.0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0,NaN
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0,0.0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,NaN,0,NaN,NaN,0.0,Active,0,0,0.0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0,0.0,0.0,23.0,Active,0,0,0.0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0,0.0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,NaN,0,NaN,NaN,0.0,Active,0,0,0.0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0,0.0

In [8]:
dpd_counts_sum = full.groupby(['SK_ID_CURR'])['SK_DPD'].sum()
dpd_df_counts_sum = full.groupby(['SK_ID_CURR'])['SK_DPD_DEF'].sum()
full['SK_DPD_SUM'] = dpd_counts_sum
full['SK_DPD_DEF_SUM'] = dpd_df_counts_sum
dpd_counts_sum

SK_ID_CURR
100006    0
100011    0
100013    1
100021    0
100023    0
         ..
456244    0
456246    0
456247    3
456248    0
456250    0
Name: SK_DPD, Length: 103558, dtype: int64

In [9]:
dpd_df_counts_sum

SK_ID_CURR
100006    0
100011    0
100013    1
100021    0
100023    0
         ..
456244    0
456246    0
456247    2
456248    0
456250    0
Name: SK_DPD_DEF, Length: 103558, dtype: int64

In [10]:
full_not_nan = full.dropna(subset=['TARGET'], how='all')

In [11]:
df_majority = full_not_nan[full_not_nan.TARGET==0]
df_minority = full_not_nan[full_not_nan.TARGET==1]

In [12]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=len(df_minority),     # to match minority class
                                 random_state=123) 
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
df_downsampled

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,TARGET,SK_DPD_SUM,SK_DPD_DEF_SUM
3373174,1956406,317063,-55,0.000,0,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,17.0,Active,0,0,0.0,NaN,NaN
1918222,1439242,256160,-28,0.000,0,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,23.0,Active,0,0,0.0,NaN,NaN
1302380,2300670,274487,-21,0.000,0,NaN,0.00,NaN,NaN,NaN,...,0,NaN,NaN,NaN,Active,0,0,0.0,NaN,NaN
22389,2642508,255298,-79,81014.040,90000,0.0,0.00,0.0,0.00,4500.000,...,0,0.0,0.0,6.0,Active,0,0,0.0,NaN,NaN
3431558,1956851,217750,-78,172799.055,135000,0.0,13437.09,0.0,13437.09,9000.000,...,1,0.0,1.0,4.0,Active,0,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840162,1001032,218425,-13,18723.915,45000,0.0,0.00,0.0,0.00,2250.000,...,0,0.0,0.0,77.0,Active,0,0,1.0,NaN,NaN
3840210,1111976,324992,-9,506363.490,765000,90000.0,90000.00,0.0,0.00,21189.375,...,2,0.0,0.0,2.0,Active,0,0,1.0,NaN,NaN
3840213,2642434,208526,-7,391.770,135000,31500.0,31500.00,0.0,0.00,2250.000,...,2,0.0,0.0,1.0,Active,0,0,1.0,NaN,NaN
3840234,1623332,228953,-15,269697.825,270000,0.0,91800.00,91800.0,0.00,9071.145,...,1,1.0,0.0,1.0,Active,0,0,1.0,NaN,NaN
3840270,2733396,332633,-9,0.000,54000,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,11.0,Completed,0,0,1.0,NaN,NaN

In [13]:
df_downsampled = df_downsampled.fillna(value=0)
df_downsampled

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,TARGET,SK_DPD_SUM,SK_DPD_DEF_SUM
3373174,1956406,317063,-55,0.000,0,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,17.0,Active,0,0,0.0,0.0,0.0
1918222,1439242,256160,-28,0.000,0,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,23.0,Active,0,0,0.0,0.0,0.0
1302380,2300670,274487,-21,0.000,0,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,0.0,Active,0,0,0.0,0.0,0.0
22389,2642508,255298,-79,81014.040,90000,0.0,0.00,0.0,0.00,4500.000,...,0,0.0,0.0,6.0,Active,0,0,0.0,0.0,0.0
3431558,1956851,217750,-78,172799.055,135000,0.0,13437.09,0.0,13437.09,9000.000,...,1,0.0,1.0,4.0,Active,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840162,1001032,218425,-13,18723.915,45000,0.0,0.00,0.0,0.00,2250.000,...,0,0.0,0.0,77.0,Active,0,0,1.0,0.0,0.0
3840210,1111976,324992,-9,506363.490,765000,90000.0,90000.00,0.0,0.00,21189.375,...,2,0.0,0.0,2.0,Active,0,0,1.0,0.0,0.0
3840213,2642434,208526,-7,391.770,135000,31500.0,31500.00,0.0,0.00,2250.000,...,2,0.0,0.0,1.0,Active,0,0,1.0,0.0,0.0
3840234,1623332,228953,-15,269697.825,270000,0.0,91800.00,91800.0,0.00,9071.145,...,1,1.0,0.0,1.0,Active,0,0,1.0,0.0,0.0
3840270,2733396,332633,-9,0.000,54000,0.0,0.00,0.0,0.00,0.000,...,0,0.0,0.0,11.0,Completed,0,0,1.0,0.0,0.0

In [14]:
y_values = df_downsampled['TARGET']
x_values = df_downsampled.drop(columns=['TARGET','SK_ID_PREV','SK_ID_CURR'])

In [15]:
x_values

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,...,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,SK_DPD_SUM,SK_DPD_DEF_SUM
3373174,-55,0.000,0,0.0,0.00,0.0,0.00,0.000,1.35,0.0,...,0.0,0,0.0,0.0,17.0,Active,0,0,0.0,0.0
1918222,-28,0.000,0,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0.0,0,0.0,0.0,23.0,Active,0,0,0.0,0.0
1302380,-21,0.000,0,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0.0,0,0.0,0.0,0.0,Active,0,0,0.0,0.0
22389,-79,81014.040,90000,0.0,0.00,0.0,0.00,4500.000,4500.00,4500.0,...,0.0,0,0.0,0.0,6.0,Active,0,0,0.0,0.0
3431558,-78,172799.055,135000,0.0,13437.09,0.0,13437.09,9000.000,18000.00,18000.0,...,0.0,1,0.0,1.0,4.0,Active,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840162,-13,18723.915,45000,0.0,0.00,0.0,0.00,2250.000,3600.00,3600.0,...,0.0,0,0.0,0.0,77.0,Active,0,0,0.0,0.0
3840210,-9,506363.490,765000,90000.0,90000.00,0.0,0.00,21189.375,21195.00,21195.0,...,2.0,2,0.0,0.0,2.0,Active,0,0,0.0,0.0
3840213,-7,391.770,135000,31500.0,31500.00,0.0,0.00,2250.000,43200.00,40950.0,...,2.0,2,0.0,0.0,1.0,Active,0,0,0.0,0.0
3840234,-15,269697.825,270000,0.0,91800.00,91800.0,0.00,9071.145,9900.00,9900.0,...,0.0,1,1.0,0.0,1.0,Active,0,0,0.0,0.0
3840270,-9,0.000,54000,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0.0,0,0.0,0.0,11.0,Completed,0,0,0.0,0.0

In [16]:
x_values_dummies = pd.get_dummies(x_values,columns = ['NAME_CONTRACT_STATUS'])

In [17]:
x_values_dummies

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,...,SK_DPD,SK_DPD_DEF,SK_DPD_SUM,SK_DPD_DEF_SUM,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Refused,NAME_CONTRACT_STATUS_Sent proposal,NAME_CONTRACT_STATUS_Signed
3373174,-55,0.000,0,0.0,0.00,0.0,0.00,0.000,1.35,0.0,...,0,0,0.0,0.0,1,0,0,0,0,0
1918222,-28,0.000,0,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0,0,0.0,0.0,1,0,0,0,0,0
1302380,-21,0.000,0,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0,0,0.0,0.0,1,0,0,0,0,0
22389,-79,81014.040,90000,0.0,0.00,0.0,0.00,4500.000,4500.00,4500.0,...,0,0,0.0,0.0,1,0,0,0,0,0
3431558,-78,172799.055,135000,0.0,13437.09,0.0,13437.09,9000.000,18000.00,18000.0,...,0,0,0.0,0.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840162,-13,18723.915,45000,0.0,0.00,0.0,0.00,2250.000,3600.00,3600.0,...,0,0,0.0,0.0,1,0,0,0,0,0
3840210,-9,506363.490,765000,90000.0,90000.00,0.0,0.00,21189.375,21195.00,21195.0,...,0,0,0.0,0.0,1,0,0,0,0,0
3840213,-7,391.770,135000,31500.0,31500.00,0.0,0.00,2250.000,43200.00,40950.0,...,0,0,0.0,0.0,1,0,0,0,0,0
3840234,-15,269697.825,270000,0.0,91800.00,91800.0,0.00,9071.145,9900.00,9900.0,...,0,0,0.0,0.0,1,0,0,0,0,0
3840270,-9,0.000,54000,0.0,0.00,0.0,0.00,0.000,0.00,0.0,...,0,0,0.0,0.0,0,1,0,0,0,0

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.linear_model import LogisticRegression
scaler = StandardScaler()
x_values_transform = scaler.fit_transform(x_values_dummies)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x_values_transform, y_values, test_size=0.33, random_state=42)

In [20]:
logit = LogisticRegression(random_state=0,solver='sag')

In [21]:
logit.fit(X_train,y_train)

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

LogisticRegression(random_state=0, solver='sag')

In [22]:
logit.coef_

array([[ 0.15476875,  0.14000895, -0.12886104, -0.02213458, -0.03252856,
         0.00457518, -0.06107302, -0.0535197 , -0.05432969,  0.10589138,
        -0.04452779,  0.07707953,  0.08797685,  0.08163017,  0.05355336,
         0.00191603,  0.03066581, -0.08769411,  0.01124022,  0.02801006,
         0.        ,  0.        ,  0.00805509, -0.01044008,  0.00589654,
        -0.00092142, -0.00363201,  0.00436265]])

In [23]:
import numpy as np
coefs=logit.coef_[0]
top_three = np.argpartition(coefs, -24)[-24:]
top_three_sorted=top_three[np.argsort(coefs[top_three])]
print(x_values_dummies.columns[top_three_sorted])

Index(['AMT_INST_MIN_REGULARITY', 'AMT_RECEIVABLE_PRINCIPAL',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_ATM_CURRENT',
       'NAME_CONTRACT_STATUS_Completed', 'NAME_CONTRACT_STATUS_Sent proposal',
       'NAME_CONTRACT_STATUS_Refused', 'SK_DPD_SUM', 'SK_DPD_DEF_SUM',
       'CNT_DRAWINGS_OTHER_CURRENT', 'NAME_CONTRACT_STATUS_Signed',
       'AMT_DRAWINGS_OTHER_CURRENT', 'NAME_CONTRACT_STATUS_Demand',
       'NAME_CONTRACT_STATUS_Active', 'SK_DPD', 'SK_DPD_DEF',
       'CNT_DRAWINGS_POS_CURRENT', 'CNT_DRAWINGS_CURRENT', 'AMT_RECIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'AMT_TOTAL_RECEIVABLE',
       'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_BALANCE', 'MONTHS_BALANCE'],
      dtype='object')

In [24]:
linearSVM = svm.LinearSVC()

In [25]:
from sklearn.model_selection import cross_validate

In [26]:
scores = cross_validate(logit, x_values_transform, y_values, cv=10,scoring='f1',return_train_score=True)

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [27]:
scores

{'fit_time': array([21.62640142, 21.12616229, 22.16118169, 21.22152829, 20.80495596,
        20.9141624 , 22.15414476, 22.41405129, 22.52637744, 22.50207782]),
 'score_time': array([0.01678061, 0.01699877, 0.01590848, 0.01652265, 0.01592588,
        0.01584959, 0.0170002 , 0.01753283, 0.01615071, 0.01663518]),
 'test_score': array([0.50376541, 0.50788948, 0.51511884, 0.52208441, 0.52637692,
        0.53376533, 0.50923619, 0.51044258, 0.50127853, 0.48313692]),
 'train_score': array([0.51124763, 0.51195876, 0.51092287, 0.51004718, 0.50993166,
        0.50999872, 0.51297609, 0.51402757, 0.51430932, 0.51521795])}

In [28]:
scores_svm = cross_validate(logit, x_values_transform, y_values, cv=10,scoring='f1',return_train_score=True)

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [29]:
scores_svm

{'fit_time': array([21.63301682, 21.08397174, 20.93517852, 20.88197851, 20.89898658,
        20.9950366 , 20.93279862, 20.87609982, 21.04327774, 21.10545993]),
 'score_time': array([0.01584578, 0.01553321, 0.01601124, 0.01584196, 0.01611733,
        0.01580715, 0.01602602, 0.01664019, 0.01600003, 0.01706672]),
 'test_score': array([0.50376541, 0.50788948, 0.51511884, 0.52208441, 0.52637692,
        0.53376533, 0.50923619, 0.51044258, 0.50127853, 0.48313692]),
 'train_score': array([0.51124763, 0.51195876, 0.51092287, 0.51004718, 0.50993166,
        0.50999872, 0.51297609, 0.51402757, 0.51430932, 0.51521795])}

In [30]:
from sklearn.model_selection import cross_val_score

In [31]:
accuracy = cross_val_score(logit, x_values_transform, y_values, cv=10,scoring='f1')

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [32]:
accuracy_svm = cross_val_score(linearSVM, x_values_transform, y_values, cv=10,scoring='f1')

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

In [33]:
print("Accuracy of Model with Cross Validation is:",accuracy.mean() * 100)

Accuracy of Model with Cross Validation is: 51.13094614777626

In [34]:
print("Accuracy of Model with Cross Validation is:",accuracy_svm.mean() * 100)

Accuracy of Model with Cross Validation is: 50.86724588842421

In [47]:
from sklearn.feature_selection import RFE
logit_rfe = LogisticRegression(random_state=0,solver='sag')
rfe = RFE(logit_rfe, 5)
fit = rfe.fit(X_train,y_train)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass n_features_to_select=5 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
C:\Users\Tabahani\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

Num Features: 5
Selected Features: [ True  True  True False False False False False False False  True False
  True False False False False False False False False False False False
 False False False False]
Feature Ranking: [ 1  1  1  9 18 19  4  8 10  7  1  5  1  6  3 21 12  2 17 11 24 23 14 13
 16 22 20 15]

In [48]:
x_values_dummies.columns[fit.support_]

Index(['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_TOTAL_RECEIVABLE'],
      dtype='object')

In [49]:
x_featatures = ['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_TOTAL_RECEIVABLE']

In [50]:
x_featuress_min = x_values_dummies[x_featatures]

In [51]:
x_featuress_min

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_RECEIVABLE_PRINCIPAL,AMT_TOTAL_RECEIVABLE
3373174,-55,0.000,0,0.000,0.000
1918222,-28,0.000,0,0.000,0.000
1302380,-21,0.000,0,0.000,0.000
22389,-79,81014.040,90000,77845.725,81014.040
3431558,-78,172799.055,135000,166133.970,172799.055
...,...,...,...,...,...
3840162,-13,18723.915,45000,17739.810,18723.915
3840210,-9,506363.490,765000,492592.140,503672.490
3840213,-7,391.770,135000,0.000,0.000
3840234,-15,269697.825,270000,263322.630,268352.325
3840270,-9,0.000,54000,0.000,0.000

In [52]:
scaler = StandardScaler()
x_values_transform = scaler.fit_transform(x_featuress_min)
logit_features = LogisticRegression(random_state=0,solver='sag')
scores = cross_validate(logit_features, x_values_transform, y_values, cv=10,scoring='f1',return_train_score=True)
print(scores)

{'fit_time': array([3.4916172 , 2.93903732, 3.30850029, 3.29208088, 3.34008384,
       3.26150846, 3.32959604, 3.17378402, 3.38893938, 3.43028307]), 'score_time': array([0.01400161, 0.01500058, 0.01500058, 0.01499891, 0.01500034,
       0.01400018, 0.01499963, 0.0150001 , 0.01399827, 0.01514935]), 'test_score': array([0.51817394, 0.52593163, 0.53229706, 0.54079957, 0.53844944,
       0.54248102, 0.51499818, 0.52124594, 0.50236792, 0.48950788]), 'train_score': array([0.52214677, 0.5215324 , 0.52193805, 0.51998286, 0.52072583,
       0.52116906, 0.52390239, 0.52544006, 0.52627951, 0.52717585])}

In [56]:
features_logit = ['AMT_INST_MIN_REGULARITY', 'AMT_RECEIVABLE_PRINCIPAL',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_ATM_CURRENT',
       'NAME_CONTRACT_STATUS_Completed']

In [57]:
x_featuress_log = x_values_dummies[features_logit]

In [58]:
scaler = StandardScaler()
x_values_transform = scaler.fit_transform(x_featuress_log)
logit_features = LogisticRegression(random_state=0,solver='sag')
scores = cross_validate(logit_features, x_values_transform, y_values, cv=10,scoring='f1',return_train_score=True)
print(scores)

{'fit_time': array([1.73663092, 1.94563961, 2.09909725, 2.12853789, 2.1323359 ,
       1.98653841, 1.9675169 , 1.93851209, 1.95702624, 2.05713892]), 'score_time': array([0.01500154, 0.01399803, 0.01451683, 0.01500034, 0.0150032 ,
       0.01700091, 0.01399994, 0.01400018, 0.01400042, 0.01400065]), 'test_score': array([0.40546672, 0.420725  , 0.44006368, 0.42839631, 0.43134439,
       0.43959142, 0.42002886, 0.45656333, 0.44263465, 0.43366113]), 'train_score': array([0.43527709, 0.43327192, 0.4313888 , 0.43382609, 0.4325049 ,
       0.43118359, 0.43315234, 0.42942078, 0.4306613 , 0.42999798])}

In [66]:
def get_clean_credit(df_credit_raw,df_application_raw):
    useful = ['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_TOTAL_RECEIVABLE','SK_ID_CURR','TARGET','SK_DPD','SK_DPD_DEF']
        
    df_application_raw['SK_ID_CURR'] = df_application_raw['SK_ID_CURR'].astype(str)

    df_application_raw = df_application_raw[['SK_ID_CURR','TARGET']]
    df_application_raw.set_index('SK_ID_CURR')
    
    df_credit_raw['SK_ID_CURR'] = df_credit_raw['SK_ID_CURR'].astype(str)
    
    full = pd.merge(
    df_credit_raw,
    df_application_raw, #here the differance
    on='SK_ID_CURR',
    how='left' #and add the how='left'
    )
    full.set_index('SK_ID_CURR')
        
    full_dummies = pd.get_dummies(full,columns = ['NAME_CONTRACT_STATUS'])
    full_trimmed = full_dummies[useful]
    dpd_counts_sum = full_trimmed.groupby(['SK_ID_CURR'])['SK_DPD'].sum()
    dpd_df_counts_sum = full_trimmed.groupby(['SK_ID_CURR'])['SK_DPD_DEF'].sum()
    full_trimmed['SK_DPD_SUM'] = dpd_counts_sum
    full_trimmed['SK_DPD_DEF_SUM'] = dpd_df_counts_sum
    
    full_not_nan = full_trimmed.dropna(subset=['TARGET'], how='all')
    full_not_nan = full_not_nan.fillna(value=0)
    
    return full_not_nan.drop(columns=['TARGET','SK_DPD','SK_DPD_DEF'])

In [67]:
res = get_clean_credit(df_credit_card_balance,df_application_train)
res

<ipython-input-66-5af285eef3dc>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_trimmed['SK_DPD_SUM'] = dpd_counts_sum
<ipython-input-66-5af285eef3dc>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_trimmed['SK_DPD_DEF_SUM'] = dpd_df_counts_sum

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_RECEIVABLE_PRINCIPAL,AMT_TOTAL_RECEIVABLE,SK_ID_CURR,SK_DPD_SUM,SK_DPD_DEF_SUM
1,-1,63975.555,45000,60175.080,64875.555,363914,0.0,0.0
3,-4,236572.110,225000,224949.285,233048.970,337855,0.0,0.0
4,-1,453919.455,450000,443044.395,453919.455,126868,0.0,0.0
8,-4,291543.075,292500,285376.410,286831.575,367360,0.0,0.0
9,-5,201261.195,225000,192793.275,197224.695,203885,0.0,0.0
...,...,...,...,...,...,...,...,...
3840307,-9,0.000,45000,0.000,0.000,328243,0.0,0.0
3840308,-9,0.000,45000,0.000,0.000,347207,0.0,0.0
3840309,-9,275784.975,585000,269356.140,273093.975,215757,0.0,0.0
3840310,-10,0.000,450000,0.000,0.000,430337,0.0,0.0
3840311,-10,0.000,157500,0.000,0.000,236760,0.0,0.0

In [78]:
def get_clean_credit_new(df_credit_raw):
    useful = ['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_TOTAL_RECEIVABLE','NAME_CONTRACT_STATUS_Completed','SK_ID_CURR','SK_DPD','SK_DPD_DEF']
        

        
    full_dummies = pd.get_dummies(df_credit_raw,columns = ['NAME_CONTRACT_STATUS'])
    full_trimmed = full_dummies[useful]
    dpd_counts_sum = full_trimmed.groupby(['SK_ID_CURR'])['SK_DPD'].sum().reset_index()
    dpd_df_counts_sum = full_trimmed.groupby(['SK_ID_CURR'])['SK_DPD_DEF'].sum().reset_index()
    full_trimmed['SK_DPD_SUM'] = dpd_counts_sum['SK_DPD']
    full_trimmed['SK_DPD_DEF_SUM'] = dpd_df_counts_sum['SK_DPD_DEF']
    
    full_not_nan = full_trimmed.fillna(value=0)
    
    return full_not_nan.drop(columns=['SK_DPD','SK_DPD_DEF'])

In [79]:
rs = get_clean_credit_new(df_credit_card_balance)
rs

<ipython-input-78-575703bf9da8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_trimmed['SK_DPD_SUM'] = dpd_counts_sum['SK_DPD']
<ipython-input-78-575703bf9da8>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_trimmed['SK_DPD_DEF_SUM'] = dpd_df_counts_sum['SK_DPD_DEF']

,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_RECEIVABLE_PRINCIPAL,AMT_TOTAL_RECEIVABLE,NAME_CONTRACT_STATUS_Completed,SK_ID_CURR,SK_DPD_SUM,SK_DPD_DEF_SUM
0,-6,56.970,135000,0.000,0.000,0,378907,0.0,0.0
1,-1,63975.555,45000,60175.080,64875.555,0,363914,0.0,0.0
2,-7,31815.225,450000,26926.425,31460.085,0,371185,1.0,1.0
3,-4,236572.110,225000,224949.285,233048.970,0,337855,0.0,0.0
4,-1,453919.455,450000,443044.395,453919.455,0,126868,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3840307,-9,0.000,45000,0.000,0.000,0,328243,0.0,0.0
3840308,-9,0.000,45000,0.000,0.000,0,347207,0.0,0.0
3840309,-9,275784.975,585000,269356.140,273093.975,0,215757,0.0,0.0
3840310,-10,0.000,450000,0.000,0.000,0,430337,0.0,0.0
3840311,-10,0.000,157500,0.000,0.000,1,236760,0.0,0.0

In [80]:
rs['SK_DPD_SUM'].describe()

count    3.840312e+06
mean     9.283667e+00
std      6.340360e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.504830e+05
Name: SK_DPD_SUM, dtype: float64